<h3> View Type Vehicule Details </h3>

<table class = "table table-striped">
  <thead>
    <tr class="text-center">
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <tr class="text-center">
      <td> {{ vehicule.id }} </td>
      <td> {{ vehicule.model }} </td>
      <td> {{ vehicule.description }} </td>
      <td> {{ vehicule.image }} </td>
      <td>
        <!-- <a routerLink="" routerLinkActive="active" class="btn btn-info">Update</a>
        <a routerLink="typeVehicules" routerLinkActive="active" class="btn btn-danger" style="margin-left: 10px;">Delete</a> -->
      </td>
    </tr>
  </tbody>
</table>
