<div class="col-md-6 offset-md-3">

  <h3> Update Vehicule </h3>

  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label> Model Name </label>
      <input type="text" class="form-control" id = "nameType" [(ngModel)] = "vehicule.model" name = "modelName">
    </div>

    <div class="form-group">
      <label> Description </label>
      <input type="text" class="form-control" id = "description" [(ngModel)] = "vehicule.description" name = "description">
    </div>

    <div class="form-group">
      <label> Image url </label>
      <input type="text" class="form-control" id = "image" [(ngModel)] = "vehicule.image" name = "image">
    </div>

    <div class="form-group">
      <label> State </label>
      <input type="text" class="form-control" id = "nameType" [(ngModel)] = "vehicule.state" name = "state">
    </div>

    <button class = "btn btn-success" type="submit">Submit</button>
  </form>

  </div>
