<div class="col-md-6 offset-md-3">

<h3> Create Type Vehicule </h3>

<form (ngSubmit) = "onSubmit()" #userForm="ngForm">

  <div class="form-group">
    <label for=""> Name Type</label>
    <input type="text" class="form-control" id = "nameType" [(ngModel)] = "typeVehicule.name" name = "nameType" placeholder="Enter name">
    <!-- <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div> -->
  </div>

  <button class = "btn btn-success" type="submit">Submit</button>
</form>

</div>
