<h2> Option List </h2>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom Option</th>
      <th>Vehicule</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let option of options">
      <td> {{ option.id }} </td>
      <td> /*{{ option.typeOption.name }}*/ </td>
      <td> /*{{ option.vehicule.name }}*/ </td>
      <td> /*{{ option.vehicule.typeVehicule.name }}*/ </td>
      <td> /*{{ option.id }}*/ </td>
      <td>
        <button (click)="optionDetails(option.id)" class="btn btn-secondary">View</button>
        <button (click)="updateOption(option.id)" class="btn btn-info" style="margin-left: 10px;">Update</button>
        <button (click)="deleteOption(option.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
