<div class="col-md-6 offset-md-3">

  <h3> Create| Insert Vehicule (Add) </h3>

  <form (ngSubmit) = "onSubmit()" #vehiculeForm="ngForm">

    {{ vehicule | json }}   <!-- text biding with json pipe -> It serializes data to string -->
    <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
    <div class="form-group">
      <label for="name"> Name </label>
      <input type="text" class="form-control" id = "name" [(ngModel)] = "vehicule.name" #name="ngModel" name = "name"  required>
      <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> -->
    </div>

    <div class="form-group">
      <label for="description"> Description </label>
      <!-- <input type="text" class="form-control" id = "description" [(ngModel)] = "vehicule.description" name = "description"> -->
      <textarea type="text" class="form-control" id = "description" [(ngModel)] = "vehicule.description" name = "description"></textarea>
    </div>

    <div class="form-group">
      <label for="colour"> Colour </label>
      <input type="text" class="form-control" id = "colour" [(ngModel)] = "vehicule.colour" name = "colour">
    </div>

    <div class="form-group">
      <label for="image"> Image url </label>
      <input type="text" class="form-control" id = "image" [(ngModel)] = "vehicule.image" name = "image">
    </div>

    <div class="form-group">
      <label for="marque"> Marque </label>
      <input type="text" class="form-control" id = "marque" [(ngModel)] = "vehicule.marque" name = "marque">
    </div>

    <div class="form-group">
      <label for="model"> Model Name </label>
      <input type="text" class="form-control" id = "nameType" [(ngModel)] = "vehicule.model" name = "modelName">
    </div>

    <div class="form-group">
      <label for="typeVehicule"> Type Vehicule </label> <br>
      <select class="form-group" name="" id="">
        <option *ngFor = "let vehicule of vehicules" [(ngModel)] = "vehicule.typeVehicule" [value]="vehicule.typeVehicule.id" name="typeVehicule" id="typeVehicule"> {{ vehicule.typeVehicule.name }} </option>
      </select>
      <br>
      TODO: remove this: {{vehicule.typeVehicule}}
    </div>

    <button class = "btn btn-success" [disabled]="!vehiculeForm.form.valid" type="submit">Submit</button>
  </form>

  </div>
