<nav class="navbar navbar-expand-sm bg-primary navbar-dark" style="background-color: rgb(0, 255, 213);">
  <ul class = "navbar-nav">
    <li class = "nav-item">
        <a routerLink="vehicules" routerLinkActive="active" class="nav-link" >Vehicule List</a>
    </li>
    <li class = "nav-item">
        <a routerLink="create-vehicule" routerLinkActive="active" class="nav-link" >Add Vehicule</a>
    </li>

    <li class = "nav-item">
        <a routerLink="typeVehicules" routerLinkActive="active" class="nav-link" >Type Vehicule List</a>
    </li>
    <li class = "nav-item">
        <a routerLink="create-type-vehicule" routerLinkActive="active" class="nav-link" >Add Type Vehicule</a>
    </li>

    <li class = "nav-item">
      <a routerLink="options" routerLinkActive="active" class="nav-link" >Options List</a>
    </li>
    <li class = "nav-item">
        <a routerLink="create-option" routerLinkActive="active" class="nav-link" >Add Option</a>
    </li>

    <li class = "nav-item">
        <a routerLink="typeOptions" routerLinkActive="active" class="nav-link" >Type Option List</a>
    </li>
    <li class = "nav-item">
        <a routerLink="create-type-option" routerLinkActive="active" class="nav-link" >Add Type Option</a>
    </li>

    <li class = "nav-item">
      <a routerLink="trajets" routerLinkActive="active" class="nav-link" >Trajet List</a>
    </li>
    <li class = "nav-item">
        <a routerLink="create-trajet" routerLinkActive="active" class="nav-link" >Add Trajet</a>
    </li>

    <li class = "nav-item">
      <a routerLink="reservation" routerLinkActive="active" class="nav-link" >Reservation List</a>
    </li>
    <li class = "nav-item">
        <a routerLink="create-reservation" routerLinkActive="active" class="nav-link" >Add Reservation</a>
    </li>

    <li class = "nav-item">
      <a routerLink="pointArrets" routerLinkActive="active" class="nav-link" >Point D'Arret List</a>
    </li>
    <li class = "nav-item">
        <a routerLink="create-point-arret" routerLinkActive="active" class="nav-link" >Add Point D'Arret</a>
    </li>

    <li class = "nav-item">
      <a routerLink="serviceTrajets" routerLinkActive="active" class="nav-link" >Service Trajet List</a>
    </li>
    <li class = "nav-item">
        <a routerLink="create-service-trajets" routerLinkActive="active" class="nav-link" >Add Service Trajet</a>
    </li>
  </ul>
</nav>

<h1 class="text-center"> {{ title }} </h1>

<div class = "container">

  <!-- <app-user-list></app-user-list>

  <app-vehicule-list></app-vehicule-list>

  <app-type-vehicule-list></app-type-vehicule-list> -->

  <router-outlet></router-outlet>

</div>

<footer class = "footer">
  <div class = "container">
      <span><b>All Rights Reserved</b> <script> document.write(new Date().getFullYear()) </script> &copy; Ng~Carpool GDT-Core Team.</span>
  </div>
</footer>
